.primary {
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.secondary {
  background: #ffffff;
  border: 1px solid #90a8ed;
  color: #90a8ed;
}

.template {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  min-width: 103px;
  padding: 10px 24px;
}

.primary:hover {
  background: #b23386;
  box-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}

.secondary:hover {
  background: #90a8ed;
  box-shadow: 4px 4px 0px #000000;
  color: #ffffff;
}

.disabledPrimary,
.disabledPrimary:hover {
  background: #e6e1e5;
  color: #1c1b1f;
  opacity: 0.38;
  border: 1px transparent;
  box-shadow: unset;
}

.disabledSecondary,
.disabledSecondary:hover {
  background: #ffffff;
  color: #1c1b1f;
  opacity: 0.38;
  border: 1px solid rgba(28, 27, 31, 0.12);
  box-shadow: unset;
}

.loadingPrimary,
.loadingPrimary:hover {
  background: #ff90e8;
  color: #ffffff;
  border: 1px transparent;
  box-shadow: unset;
}

.loadingSecondary,
.loadingSecondary:hover {
  background: #90a8ed;
  color: #ffffff;
  border: 1px transparent;
  box-shadow: unset;
}
